{% extends "__base__.html" %}
{% block title %}
    history
{% endblock %}
{% block container %}
    <h3>History {{ user }}</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">date</th>
            <th scope="col">type of transaction</th>
            <th scope="col">type of crypto</th>
            <th scope="col">crypto balance</th>
            <th scope="col">money balance</th>
        </tr>
        </thead>

        <tbody>
        {% for hist in histor %}

            <tr>
                <td>{{ hist.date_exchange}}</td>
                <td>{{ hist.transaction}}</td>
                <td>{{ hist.name_crypto}}</td>
                <td>{{ hist.value_crypto }}</td>
                <td>{{ hist.value_usd }}$</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}