{% extends "__base__.html" %}
{% load static %}
{% block title %}
    profile
{% endblock %}
{% block container %}
    <div class="center">
        <img src="{% static "images/profile.svg" %}" class="rounded mx-auto d-block" alt="bitcoin" width="300"
             height="300">


    <div ">
    <h1 class="rounded mx-auto d-block">{{ user }}</h1>
    <table class="table">


        {% for useres in users %}
            <tr>
                <th>Balance: {{ useres.usd }} $</th>
            </tr>
            <tr>
            <th>Membership plan: {{ useres.member.name }}</th>
            </tr>

        {% endfor %}


        {% for cryptos in crypto %}
            <tr>
                {% for names in crypto_name %}
                    {% if names.id == cryptos.crypto.id %}
                    <th>{{ names.name }} :
                    {% endif %}
                {% endfor %}
                {{ cryptos.value }}</th>


            </tr>
        {% endfor %}

    
    </table>
{% endblock %}